/*
    Main CSS file for Ricky White .dev
*/

/* GLOBALS */
/* ======= */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #1f5673;
  --secondary-color: #90c3c8;
  --tertiary-color: #b9b8d3;
  --forth-color: #759fbc;
  --dark-gray-color: #36393b;
}

/* TYPOGRAPHY */
/* ========== */

h1,
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 0.5em;
  margin-top: 0.75em;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.3em;
}

p {
  font-family: "Cormorant Garamond", serif;
  line-height: 1.5;
  margin-bottom: 0.75em;
  font-size: 1.2em;
}

hr {
  width: 50%;
  text-align: center;
  margin: 2em auto;
  border-color: var(--secondary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--forth-color);
}

.text-center {
  text-align: center;
}

.list-text {
  margin-bottom: 0.2em;
}

/* SECTIONS */
/* ======== */

#page-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

header {
  margin-top: 3em;
}

#profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px var(--dark-gray-color);
}

#about-section {
  margin-top: 4em;
}

.two-columns {
  display: grid;
  /* Two center columns with whitespace to left and right */
  grid-template-columns: 1fr 3fr 3fr 1fr;
}
.center-column {
  display: grid;
  /* One large center column with whitespace to left and right */
  grid-template-columns: 1fr 5fr 1fr;
}

.column {
  margin-left: 2em;
  margin-right: 2em;
}

#about-content {
  grid-column: 2;
}

#portfolio-websites {
  grid-column: 2;
}

#portfolio-projects {
  grid-column: 3;
}

#interviews-online {
  grid-column: 2;
}
#interviews-podcasts {
  grid-column: 3;
}

footer {
  margin-top: 3em;
  background-color: var(--dark-gray-color);
  padding: 1.5em;
}

/* ICONS / BUTTONS */
/* =============== */

.social-icon {
  color: var(--primary-color);
}
.social-icon:hover {
  color: var(--forth-color);
}
.social-icon-footer {
  color: var(--tertiary-color);
  margin: 0.2em;
}
.social-icon-footer:hover {
  color: white;
}

/* MEDIA QUERY */
/* =========== */
